.hero{
  min-height:80vh;
  display:flex;
  align-items:center;
  background:linear-gradient(
    135deg,
    #0d47a1,
    #1976d2
  );
  color:white;
}

.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:50px;
}

.hero-text{
  flex:1;
}

.hero-text h1{
  font-size:4rem;
  margin-bottom:20px;
}

.hero-text p{
  font-size:1.2rem;
  margin-bottom:30px;
  line-height:1.8;
}

.hero-text button{
  background:white;
  color:#0d47a1;
  border:none;
  padding:15px 30px;
  border-radius:40px;
  font-weight:bold;
  cursor:pointer;
}

.hero-image{
  font-size:10rem;
}

@media(max-width:768px){

  .hero-content{
    flex-direction:column;
    text-align:center;
  }

  .hero-text h1{
    font-size:2.5rem;
  }

  .hero-image{
    font-size:6rem;
  }
}